.banner {
    background: var(--azul-degrade);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 3em;
    row-gap: 1em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-branco)
}

.banner__texto {
    font-weight: 500;
    color: var(--cor-branco);
    text-align: center;
}

.banner__pesquisa {
    border: 1px solid var(--cor-branco);
    border-radius: 1.5em;
    background-color: transparent;
    padding: 0.8em 0;
    width: 100%;
    color: var(--cor-branco);
    margin-top: 10px;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cor-branco);
    font-size: 14px;
    font-weight: 400;
    background-image: url("../img/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: 2em;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    
    .banner {
        padding: 6em 0;
    }

    .banner__titulo {
        font-size: 36px;
    }
    
    .banner__texto {
        font-size: 16px;
    }

    .banner__pesquisa {
        width: 50%;
        padding: 1.5em 0;
    }

    .banner__pesquisa::placeholder {
        font-size: 16px;
    }
 
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 12em;
    }

    .banner {
        padding: 6em 0;
    }
}
